<div class="row">
    <div class="col alert alert-info">
        Interruptions/Meetings
        <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#interruptionModal">+</button>
    </div>
</div>

<div class="row">
        <div class="col-1"><strong>Date</strong></div>
        <div class="col-2"><strong>Who</strong></div>
        <div class="col"><strong>Why</strong></div>
</div>

{% for interruption in interruptions|sort(attribute='inter_date') %}
    <div class="row">
        <div class="col-1"><p>{{ interruption.inter_date.strftime('%a') }}</p></div>
        <div class="col-2"><p>{{ interruption.person }}</p></div>
        <div class="col-7"><p>{{ interruption.reason }}</p></div>
        <div class="col-1">
            <a href="{{ url_for('interruption.delete', week_id=interruption.week_id, interruption_id=interruption.id ) }}" class="btn btn-outline-danger btn-sm alert-link">x</a>
        </div>
    </div>
{% endfor %}


<!-- Modal -->
<div class="modal fade" id="interruptionModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('interruption.add', week_id=week.id ) }}" method="post" name="interruptions">
                <div class="modal-header">
                    <h6 class="modal-title">Interruptions/Meetings</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                        {{ interruption_form.hidden_tag() }}
                        <p>{{ interruption_form.date(class_="form-control", autocomplete="off") }}</p>
                        <p>{{ interruption_form.person(class_="form-control", autocomplete="off") }}</p>
                        <p>{{ interruption_form.reason(class_="form-control", autocomplete="off") }}</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>