<div class="row">
    <div class="col">
        Name: Erik Shagdar
    </div>
    <div class="col">
        <div class="dropdown">
        Week Beginning: 
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if week %}{{ week.get_week_date() }}{% else %}Select a week{% endif %}</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('week.new') }}">+ New Week</a>
            <div class="dropdown-divider"></div>
            {% for week in week_list|sort(attribute='week', reverse=True) %}
                <a class="dropdown-item" href="{{ url_for('worksheet.worksheet', week_id=week.id) }}">{{ week.week.date() }}</a>
            {% endfor %}
          </div>
        </div>
    </div>
</div>